**/__pycache__
.gitignore
.vscode
.hypothesis
.git
devices.json
snapshot.json
tinytuya.json
tuya-raw.json
devicesorg.json
myscan.py
config/*.json
config/*.bak
devices/ESPrestMeter/*.json
devices/ESPrestMeter/test*.py